extends layout

block header
	script(src='/javascripts/adminfunctions.js')

block content
	h1 #{title}
	if(error)
		p #{error}

	div#information
		div#bufferTop
		div#returnText
		div#bufferBottom
	br
	div
		div
			p Reader Name
				input#readerFindName.divideText(type='text')
				input#readerSearch.divideText(type='submit' value='Find')

		br
		div#actionsBox
			div Here are the actions you can perform:
			br
			div.slickBox
				p.divideText Change reader's level to:
					input#readerNewLevel.divideSmall(type='text')
					input#submitLevel.divideSmall(type='submit' value='Go')
				p.divideText Remember! 1 = Reader Only. 2 = Writing Ability. 3 = Voting Ability. 4+ = Admin like you.
			br
			br
			div.slickBox
				p.divideText Change reader's nickname to:
					input#readerNewNickname.divideSmall(type='text')
					input#submitNickname.divideSmall(type='submit' value='Go')