extends layout

block content
	h1 #{title}
	p A story written by dozens.
	p
		a(href='/about') What is this site?
	p To view the list of stories written, click 
		a(href='/stories') here
	p Have a great idea? Want to see what happens when the rest of the world has their chance to take it in a direction you never even thought of? 
		a(href='/writeStory') Write a new story.
	if reader == undefined
		p New to the site? Create an account: 
			a.button(id='newReader' href='newreader') Create Account
		p Already have an account? Sign in: 
			a.button(id='signIn' href='signin') Sign In
