extends layout

block content
	h1= title
	p A story written by dozens.
	p To view the list of stories written, click 
		a(href='/stories') here
	if reader == undefined
		p New to the site? Create an account:
		a.button(id='newReader' href='newreader') Create Account
		p Already have an account? Sign in:
		a.button(id='signIn' href='signin') Sign In
	else
		p Welcome, 
			a(href='/reader/#{reader.name}') #{reader.name}