doctype html
html(lang="en")
	head
		script(src='/javascripts/jquery.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		title #{title}
		
		block header
			
	body
		div
			a.textLeft(id='homeLink', href='/') &#9733;
			if(reader)
				span.divideText.textLeft Welcome 
					a(href='/reader/#{reader.name}') #{reader.nickname}
			else
				span.divideText
					a(href='/signin') Sign In
				span.divideText
					a(href='/newreader') New Account
			span.textRight
				if (reader)
					if(reader.level >= 4)
						span You're an admin! Go here to 
							a(href='/admin') Adminstrate
		block content