extends layout

script(src='../scripts/ReaderManager.js')

block content
	p type here you rube
		input(id='nonsense')
	p not there there
		p yeah, your username
			input(id='username')
	p now the password
		input(id='password')
	p and your email
		input(id='email')
	p and your mother's maiden name
		input(id='mom')
	p credit card
		input(id='cash')
	p svc code?
		input(id='else')
	p thx
	p bai
	button(onclick='') submit