extends layout

block content
	h1= title
	if error
		p #{error}

	form(id='newReader', action='/createReader', method='POST')
		p username
			input(name='username', type='text')
		p password
			input(name='password', type='password')
		p Nickname
			input(name='nickname', type='text')
		input(type='submit', value='submit')