extends layout

block content
	form(id='newReader', action='/signin')
		p username
			input(id='username', type='text')
		p password
			input(id='password', type='password')
		p Nickname
			input(id='nickname', type='text')
		button(onclick='createNewReader', type='submit') submit