extends layout

script(src='../scripts/storiesPage.js')

block content
	h1= title
	div.storyContainer
		if (error)
			p #{error}

		if (chapters)
			each chapt,index in chapters
				a(href='/read/#{story}/noncanon/' + index)
					p= chapt

	//
		a(href='/read/knightquest')
			img(src='/images/')
			p Knight Quest
		a(href='/knightquest/chapters')
			p Upcoming Chapters