extends layout

block content
	form(id='Login', action='/')
		p Username
			input(id='username', type='text')
		p Password
			input(id='password', type='password')
		input(id='submit', type='submit', onclick='readerSignIn') Submit Info