extends layout

block content
	h1= title
	if error
		p= error

	form(id='Login', action='/readerSignIn')
		p Username
			input(id='username', type='text')
		p Password
			input(id='password', type='password')
		input(id='submit', type='submit', value='Submit Info') 