extends layout

block content
	h1= title
	if error
		p= error

	form(id='Login', action='/readerSignIn', method='POST')
		p Username
			input(name='username', type='text')
		p Password
			input(name='password', type='password')
		input(type='submit', value='Submit Info') 