extends layout

script(src='../scripts/storiesPage.js')

block content
	h1= title
	div.storyContainer
		a(href='/read/knightquest')
			img(src='/images/')
			p Knight Quest
		a(href='/knightquest/chapters')
			p Upcoming Chapters