extends layout

block head
	if error
		title No Reader Found
		h1 No Reader Found
	else
		title #{reader.nickname}'s Account
		h1 #{reader.nickname}'s Account

block content
	if error
		p There is no reader with this name
	else
		form(action='/changeNickname', method='POST')
			p Change your Nickname
				input(name='newNick', type='text')
			input(type='submit')