#color {
  
}

#homeLink {
	font-size: 350%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tabbed {
	padding-left: 3em;
}

.largerReadingFont {
	font-size: 135%;
}

.adviceBuffer {
	height: 2px;
	padding: 0px;
}

.divideText {
	margin-left: 2em;
}

.divideSmall {
	margin-left: 1em;
}

.inline {
	display: inline;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.textSize {

}

.slickBox {
	border-left: solid 5px #ADACAD;
	/*border-left-style: solid;
	border-left-width: 5px;
	border-left-color: '#ADACAD';*/
	border-bottom: solid 2px #DBDBDB;
}